@page "{restid:int}"
@model dotnetcore_razor.DeleteModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h2>Delete</h2>
    <div class="alert alert-danger">
        Are you sure want to delete the Restaurant @Model.Restaurant.Name ?
    </div>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes!</button>
        <a asp-page="./List" class="btn btn-danger">No</a>
    </form>
</body>
</html>
